---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$font-noto-sans: "Noto Sans", sans-serif;

$primary-color: #0353A4;
$primary-color-light: #B9D6F2;
$primary-color-dark: #0E0004;

$secondary-color: #03a454;
$secondary-color-light: #04d66e;
$secondary-color-dark: #02723a;

// Olive green
// $secondary-color: #5D8377;
// $secondary-color-light: #88AA9F;
// $secondary-color-dark: #3B544B;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"1-libs/-libs-index",
		"2-layouts/-layouts-index"
;

