html
	background: #000000 url(../assets/background.png)
	background-size: cover
	background-position: center
	background-attachment: fixed

	a
		color: $primary-color
		&:link, &:visited
			text-decoration: none
		&:hover, &:active
			text-decoration: underline
			
body	
	// background: url(../assets/background.png)
	min-width: 640px
	max-width: 1080px
	margin: auto auto
	background-color: transparent
	color: $primary-color-dark
	font-family: $font-noto-sans

	.content
		background: $primary-color-light
		padding: 10px 40px 40px 40px
		font-size: 1rem
		margin-left: 10px
		margin-right: 10px

		.post-list
			padding: 0px
			margin: 0px

		.page
			padding-top: 10px

			h1
				margin-bottom: 0px
