body
	.footer
		display: flex
		justify-content: space-between
		background-color: $primary-color
		border-radius: 10px
		padding: 10px
		margin-bottom: 200px

		a
			&:link
				color: $secondary-color-light
				text-decoration: none
			&:visited
				color: $secondary-color
				text-decoration: none
			&:hover
				color: $secondary-color-light
				text-decoration: underline

		.copyright
			color: $primary-color-light
			font-size: 0.75rem
		.attribution
			color: $primary-color-light
			font-size: 0.75rem