header
	height: 386px
	background: url(../assets/header_plate.png) center center
	//background-size: cover

	nav
		text-align: center
		a
			margin-top: 30px
			display: inline-block
			margin-left: 40px
			margin-right: 40px

			color: #efecca
			font:
				size: 18px
				weight: 700
			text-transform: uppercase
			text-decoration: none

			&:hover
				color: #a7a37e

	.social_media
		text-align: center
		padding-top: 50px

		.social_media_link_left
			+size(50px)
			display: inline-block
			margin-left: 50px

		.social_media_link_right
			+size(50px)
			display: inline-block
			margin-right: 50px

		.headshot
			+size(160px)
			display: inline-block
			margin-right: 10px
			margin-left: 10px


	h1
		text-align: center
		font
			weight: 900
		font-size: 48px

		font-family: 'Arial Black'
		color: #efecca

		-webkit-text-stroke-width: 1px
		-webkit-text-stroke-color: black
