.post-header
	display: flex
	img
		+size(96px)
		display: flex
		align-self: center

		&.left
			&.pixel-art
			margin-right: 20px
			float: left

		&.right
			margin-left: 20px
			float: right

	.post-header-text
		display: flex
		flex-direction: column
		align-self: center
		h2
			margin: 0px
			color: $primary-color

		.post-meta
			color: $primary-color
			font-size: 1rem
			text-align: left

			.post-sub-meta
				font-size: 0.75rem