.post
	list-style: none
	margin-bottom: 30px

	h2
		margin-top: 0px
		margin-bottom: 0px
		color: $secondary-color-dark
		a:link, a:visited
			text-decoration: none
			color: $secondary-color-dark
		a:hover, a:active			
			color: $secondary-color-light

	.post-meta
		color: $secondary-color

	a
		color: $secondary-color-dark

		&:hover
			color: $secondary-color-light

	blockquote
		padding: 0px 15px
		color: #444
		border-left: 4px solid #777
