  <head>
    <meta charset="utf-8">
    <meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@pastadiablo">
	<meta name="twitter:creator" content="@pastadiablo">
	
	{% if page.title %}
  		<meta name="twitter:title" content="{{ page.title }}">
	{% else %}
  		<meta name="twitter:title" content="{{ site.title }}">
	{% endif %}
	
	{% if post.excerpt %}
  		<meta name="twitter:description" content="{{ post.excerpt }}">
	{% else %}
  		<meta name="twitter:description" content="{{ site.description }}">
	{% endif %}
  	
  	<meta name="twitter:image:src" content="http://www.pastadiablo.com/assets/headshot.png">

    <link rel="stylesheet" href="/css/main.css">
  </head>