<header>
	<div class="title">
		<h1>Pastadiablo</h1>
		<h1>Productions</h1>
	</div>
	<div class="top_cap">
		<nav>
			<span class="navbar">
				<a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
				<a href="/blog" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
				<!-- <a href="/projects/"class="{% if page.url contains '/projects/' %}active{% endif %}">Projects</a> -->
				<!-- <a href="/archive/"class="{% if page.url contains '/archive/' %}active{% endif %}">Archive</a> -->
			</span>
			<ul class="social_media">
				<li>
					<a href="https://bsky.app/profile/pastadiablo.com" target="_blank">
						{% include 1-icons/bluesky.html %}
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/pastadiablo/" target="_blank">
						{% include 1-icons/instagram.html %}
					</a>
				</li>
				<li>
					<a href="https://www.tiktok.com/@pastadiablo" target="_blank">
						{% include 1-icons/tiktok.html %}
					</a>
				</li>
				<li>
					<a href="https://https://x.com/pastadiablo" target="_blank">
						{% include 1-icons/x.html %}
					</a>
				</li>
				<li>
					<a href="https://github.com/pastadiablo" target="_blank">
						{% include 1-icons/github.html %}
					</a>
				</li>
				<li>
					<a href="mailto:dan@pastadiablo.com" target="_blank">
						{% include 1-icons/email.html %}
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/pastadiablo" target="_blank">
						{% include 1-icons/linkedin.html %}
					</a>
				</li>
				<li>
					<a href="https://pastadiablo.com/assets/DanielMagnusson-Resume2025.pdf" target="_blank">
						{% include 1-icons/download.html %}
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>