<header>
	<h1> <a href="/"> Dan Magnusson </a></h1>
	<div class="top_cap">
		<nav>
			<span class="navbar">
				<!-- <a href="/about" class="{% if page.url == '/about/' %}active{% endif %}">About</a> -->
				<a href="/blog" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
				<a href="/projects/"class="{% if page.url contains '/projects/' %}active{% endif %}">Projects</a>
				<!-- <a href="/archive/"class="{% if page.url contains '/archive/' %}active{% endif %}">Archive</a> -->
			</span>
			<ul class="social_media">
				<li>
					<a href="https://pastadiablo.com/assets/resume.pdf" target="_blank">
						{% include 1-icons/download.html %}
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/pastadiablo" target="_blank">
						{% include 1-icons/linkedin.html %}
					</a>
				</li>
				<li>
					<a href="https://github.com/pastadiablo" target="_blank">
						{% include 1-icons/github.html %}
					</a>
				</li>
				<li>
					<a href="mailto:pastadiablo@gmail.com" target="_blank">
						{% include 1-icons/email.html %}
					</a>
				</li>
			</ul>
		</nav>
	    <!-- <hr/> -->
	</div>
</header>