---
title: Blog
layout: default
permalink: /blog/
---

<ul class="post-list">
  {% assign posts = site.blog | sort | reverse %}
  {% for post in posts  %}
    <li class="post">
      {% include 2-html/post-header.html page=post link=true%}
      {%- if post.excerpt != post.content -%}
        <div class="excerpt">
          {{- post.excerpt -}}
          <a class="post-read-more" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
        </div>
      {%- else -%}
        {{ post.content }}
      {% endif %}
    </li>
    {% if forloop.last == false %}
      <hr>
    {% endif %}
  {% endfor %}
</ul>