<html>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@pastadiablo" />
  <meta name="twitter:title" content= {{ page.title }} />
  <meta name="twitter:description" content= {{ post.excerpt }} />
  <meta name="twitter:image" content="http://www.pastadiablo.com/assets/headshot.png" />

  {% include head.html %}
  
  <body>

    {% include header.html %}

    <div class="content">
    	<div class="post">
	    	<h2> {{ page.title }} </h2>
	      	<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
	    	{{ content }}
	    </div>
    </div>

    {% include footer.html%}

  </body>
</html>